In [40]:
import pandas as pd
import numpy as np

## Series from Lists

In [41]:
# Strings
country = ["India","Pakistan","Sri Lanka","Nepal","USA"]
pd.Series(country)

In [42]:
# integers
runs = [31,24,78,64,100]
pd.Series(runs)

In [43]:
#custom_index
marks = [67,84,97,100]
subjects =["Maths","English","Science","History"]
pd.Series(marks,index=subjects)

In [44]:
# setting a name
pd.Series(marks,index=subjects,name="swayam ke marks")

## Series from Dicts

In [45]:
marks ={
    "maths":67,
    "english":84,
    "science":97,
    "history":100
}
marks = pd.Series(marks,name = "marks of different subjects")
marks

## Series Attributes

In [46]:
# size : return the total no elements present 
marks.size

In [47]:
#dtype : returns data type for the series
marks.dtype

In [48]:
#name: returns the name of the series
marks.name

In [49]:
#is_unique : returns boolena value if unique elements are present or not
marks.is_unique

In [50]:
#index : returns index object for all the index values
marks.index

In [51]:
#values
print(marks.values) #returns numoy array
print(type(marks.values))

## Series using read_csv

In [52]:
# with one column
df = pd.read_csv("subs.csv").squeeze()
df

In [53]:
# with 2 cols
pd.read_csv("kohli_ipl.csv",index_col="match_no").squeeze()

In [54]:
movies = pd.read_csv("bollywood.csv",index_col="movie").squeeze()
movies

In [55]:
# head and tail
movies.head()

In [56]:
movies.tail()

In [57]:
# sample
movies.sample()

In [58]:
# value_counts --> movies ## tells the frequency of values
movies.value_counts()

In [59]:
# sort_values 
movies.sort_values(ascending=False) #by default ascending is equal to True

In [60]:
# sort_index
movies.sort_index()

## Series Maths Methods

In [61]:
# count
movies.count()

In [62]:
# sum
vk = pd.read_csv("kohli_ipl.csv",index_col="match_no").squeeze(True) 
vk.sum()

In [63]:
# product
vk.product()

In [64]:
# mean
vk.mean()

In [65]:
# median
vk.median()

In [66]:
# mode
vk.mode()

In [67]:
# var
vk.var()

In [68]:
# std
vk.std()

In [69]:
#max
vk.max()

In [70]:
#min
vk.min()

In [71]:
# describe
vk.describe()

## Series Indexing

In [72]:
x = pd.Series([12,13,14,46,57,58,79,60,90])

In [73]:
x[0]

In [74]:
## negative indexing does not work with integer objects
x[-1]

In [75]:
movies[-1]

In [76]:
# slicing
vk[5:15]

In [77]:
vk[-5:]

In [78]:
movies[::3]

In [79]:
# fancy indexing
vk[[1,3,4,5]]

## Editing Series

In [80]:
# using index
marks = [67,84,97,100]
subjects =["Maths","English","Science","History"]
marks_series = pd.Series(marks,index=subjects)

In [81]:
marks_series[0] = 90

In [82]:
marks_series

Even if index does not exits it will create it if we are writing it ,but will throw error if we are readig it

In [83]:
marks_series["geography"] = 79

In [84]:
marks_series

## Series with python functionalities

In [85]:
# len 
len(marks_series)

In [86]:
#type
type(marks_series)

In [87]:
#sorted
sorted(marks_series)

In [88]:
#max
max(marks_series)

In [89]:
#min
min(marks_series)

In [90]:
dir(marks_series)

In [91]:
#type conversion
dict(marks_series)

## Memebrship operation works only on index by default

In [92]:
"Maths" in marks_series

#### for values

In [93]:
97 in marks_series.values

In [94]:
for i in movies.index:
    print(i)

### Similar to broadcasting in numpy

In [95]:
# arithmetic operators
100 - marks_series

In [96]:
# relational operators
vk >= 50

## Boolean Indexing on series

In [97]:
# indexing to find matches where he score more than or equal to 50
vk[vk >= 50]

In [98]:
vk[vk==0]

In [99]:
vk[vk==0].size

In [100]:
movies

In [101]:
no_of_movies = movies.value_counts()

In [102]:
no_of_movies[no_of_movies>20]

## Plotting graphs on Series

In [103]:
vk.plot()

In [104]:
no_of_movies = movies.value_counts()
no_of_movies.head(5).plot(kind="pie", explode=[0.2, 0, 0, 0, 0],shadow=True,autopct='%1.2f%%')

## some important Series methods

In [105]:
subs = pd.read_csv("subs.csv").squeeze()
vk = pd.read_csv("kohli_ipl.csv",index_col="match_no").squeeze()
movies = pd.read_csv("bollywood.csv",index_col="movie").squeeze()

In [106]:
vk.astype('int16')

#### between works in Series only not in DataFrames

In [107]:
#between
vk.between(51,88)

In [108]:
vk[vk.between(51,88)].size #no of matches where vk score between 51 and 88

In [109]:
subs

In [110]:
# values less than 100 becomes 100 and values more than 300 becomes 300 and values in between them remains unchanged
subs.clip(100,300)

In [111]:
# drop _duplicates
temp = pd.Series([1,1,1,13,3,4,2,3,4,])
temp

In [112]:
temp.drop_duplicates() #first occurence gets dropped

In [113]:
temp.drop_duplicates(keep="last") #last occurence remains rest gets dropped

In [114]:
temp.duplicated()

In [115]:
# is null 
temp = pd.Series([1,2,3,4,54,np.nan,134,4,np.nan,224,24,435,6,6,6])

In [116]:
temp.isnull().sum()

In [117]:
temp

In [118]:
# count vs size
temp.size

In [119]:
temp.count()

#### count only counts non null values , whereas size counts all the values including null values

In [120]:
temp.dropna()

In [121]:
temp.fillna(temp.mean())

In [122]:
filled_temp = temp.fillna(temp.mean())
print(filled_temp.apply(lambda x: f"{x:.2f}"))

In [123]:
# isin
vk.isin([49,99,79])
# similar to 
# (vk==49) | (vk == 99)|(vk==79)

In [124]:
# apply
filled_temp = temp.fillna(temp.mean())
print(filled_temp.apply(lambda x: f"{x:.2f}"))

In [125]:
movies.apply(lambda x : x.split()[0].upper())

In [126]:
subs.apply(lambda x : "Good day " if x > subs.mean() else "bad day")

In [127]:
subs_df = pd.read_csv("subs.csv")

In [128]:
subs_df.map(lambda x : "Good day " if x > subs.mean() else "bad day")

##### when we are using Series we use apply then goes for element wise function execution but dataframes do not support this , for that we have to use applymap() or map() because by default dataframe works on column wise so in order for it execute function elementwise we need to map each element

```js
Use apply() on Series for element-wise operations.
Use apply() on DataFrame for row-wise (axis=1) or column-wise (axis=0) operations.
Use applymap() on DataFrame for element-wise operations (like map() for Series).
```

## Creating Dataframes

In [129]:
#using lists
stude_data =[[100,90,10],[90,70,7]]
pd.DataFrame(stude_data,columns=["iq","marks","rno"])

In [130]:
stud_data_dict = {
    "iq":[100,90],
    "marks":[90,70],
    "rno":[10,7]
}
pd.DataFrame(stud_data_dict)

In [131]:
df = pd.read_csv("movies.csv")
df

In [132]:
ipl = pd.read_csv("ipl-matches.csv")
ipl

In [133]:
df.shape

In [134]:
ipl.shape

In [135]:
df.dtypes

In [136]:
df.columns

In [137]:
print(df.values)
ipl.values

In [138]:
df.head()

In [139]:
df.tail()

In [140]:
df.sample(5)

In [141]:
df.info()

In [142]:
ipl.describe()

In [143]:
df.describe(include="all")

In [144]:
df.isnull().sum()

In [145]:
df.duplicated().sum() # no duplicated values

In [146]:
df.rename(columns={"poster_path":"path_to_poster"},inplace=True)

In [147]:
df

## Maths Functions

In [148]:
df.sum(numeric_only=True,axis=1) #axis=1 row wise

In [149]:
df.min(numeric_only=True)

In [150]:
df.max(numeric_only=True)

In [151]:
df.mean(numeric_only=True)

In [152]:
df.mode(numeric_only=True)

## Selecting Cols in a Dataframe

In [153]:
df.head()

In [154]:
df["title_x"]

In [155]:
df[["actors","title_x","year_of_release"]].head(10)

## Selecting rows from a Dataframe

#### iloc : searches using index positions
#### loc : searches using index labels

In [156]:
df.iloc[0]

In [157]:
df.iloc[0:5] # the last index is not included

In [158]:
#fancy indexing
df.iloc[[0,19,6,8]]

In [159]:
stud_data_dict = {
    "name":["swayam","swarup","barik","neha","aditya","advait"],
    "iq":[100,90,87,45,78,92],
    "marks":[90,70,80,54,68,92],
    "rno":[10,7,8,9,12,11]
}
df_student = pd.DataFrame(stud_data_dict)
df_student.set_index("name",inplace=True)

In [160]:
df_student

In [161]:
df_student.loc["swayam":"neha"] # in loc the last index is also included

In [162]:
df_student.iloc[0] # in-built index is used here

## Selecting both rows and columns

In [163]:
df.iloc[0:3,1:4] #rows and columns

In [164]:
df.loc[0:2,['title_x','path_to_poster','wiki_link']]

## Filtering a DataFrame

In [165]:
ipl.head(3)

In [166]:
# Find all the final winners
ipl[ipl["MatchNumber"]== "Final"][["WinningTeam"]]

In [167]:
# how many super overs finishes have occured
ipl[ipl["SuperOver"]=="Y"].shape[0]

In [168]:
# how many matches has csk won in kolkata
ipl[(ipl["WinningTeam"]=="Chennai Super Kings") & (ipl["City"]=="Kolkata")].shape[0]

In [169]:
# toss winner is match winner percentage
(ipl[ipl["TossWinner"]==ipl["WinningTeam"]].shape[0]/ipl.shape[0])*100

In [170]:
# movies with rating greater than 8 and votes > 10000
df[(df["imdb_rating"]>8) & (df["imdb_votes"]>10000)][["title_x"]].shape[0]

In [171]:
df.head(3)

In [172]:
# count action movies with rating higher than 7.5
df[(df["genres"].str.split("|").apply(lambda x : "Action"  in x)) & (df["imdb_rating"]>7.5)].shape[0]

In [173]:
# contains
df[(df["genres"].str.contains("Action")) & (df["imdb_rating"]>7.5)].shape[0]

In [174]:
ipl.head()

In [175]:
import tkinter as tk
from tkinter import messagebox
def track_reco():
    team1 = entry_team1.get()
    team2 = entry_team2.get()
    matches = ipl[ipl["WinningTeam"].isin([team1, team2])]
    # Count the number of wins for each team
    ct1 = matches[matches["WinningTeam"] == team1].shape[0]
    ct2 = matches[matches["WinningTeam"] == team2].shape[0]

    
    result= f"Matches won by {team1}: {ct1}, and matches won by {team2}: {ct2}"
    messagebox.showinfo("Track Record", result)

# Create the main window
root = tk.Tk()
root.title("IPL Track Record")

# Create and place the labels and entry widgets
label_team1 = tk.Label(root, text="Enter your first team:")
label_team1.pack(pady=5)

entry_team1 = tk.Entry(root)
entry_team1.pack(pady=5)

label_team2 = tk.Label(root, text="Enter your second team:")
label_team2.pack(pady=5)

entry_team2 = tk.Entry(root)
entry_team2.pack(pady=5)

# Create and place the button to calculate the track record
button = tk.Button(root, text="Get Track Record", command=track_reco)
button.pack(pady=20)

# Start the main event loop
root.mainloop()

In [176]:
ipl["WinningTeam"].str.contains("Gujarat Titans").sum() # we cannot use .count because it will return all the true and false vaues
# with .sum() we add all the values True=1 and False =0 so effectively we get all True values only

In [177]:
def track_reco(team1, team2):
    # Count the number of wins for team1
    ct1 = ipl["WinningTeam"].str.contains(team1).sum()
    # Count the number of wins for team2
    ct2 = ipl["WinningTeam"].str.contains(team2).sum()
    
    return ct1, ct2

team1 = input("Enter your first team: ")
team2 = input("Enter your second team: ")
print(track_reco(team1, team2))

## Add New Columns

In [178]:
df["Country"] = "India"

In [179]:
df.head(2)

#### Fetching Lead Actors

In [180]:
df.dropna(subset="actors",inplace=True)

In [181]:
df.info()

In [182]:
df["lead actor"] = df["actors"].str.split("|").apply(lambda x: x[0])

In [183]:
df.head(3)

In [184]:
#astype
ipl.info()
ipl["ID"]=ipl["ID"].astype("int32")

In [185]:
ipl.info()

In [186]:
ipl["Season"]=ipl["Season"].astype("category")
ipl["Team1"]=ipl["Team1"].astype("category")
ipl["Team2"]=ipl["Team2"].astype("category")
ipl["City"]=ipl["City"].astype("category")

In [187]:
ipl.info()

##### We have reduced size from 149 kb to 122.2 kb

## Important Methods for DataFrames

In [188]:
# value_counts -- counts the frequency count

In [189]:
import pandas as pd
ipl = pd.read_csv("ipl-matches.csv")
ipl.head(3)

In [190]:
ipl[~ipl["MatchNumber"].str.isnumeric()]

In [191]:
# find the player which has won most player of the match -> in  finals and qualifiers
ipl[~ipl["MatchNumber"].str.isnumeric()]["Player_of_Match"].value_counts()

In [192]:
# toss decsion plot
ipl["TossDecision"].value_counts().plot(kind="pie",explode=(0,0.1),shadow=True)

In [193]:
# how many matches each team has played
(ipl["Team1"].value_counts() + ipl["Team2"].value_counts()).sort_values()

In [194]:
# sort_values
(ipl["Team1"].value_counts() + ipl["Team2"].value_counts()).sort_values(ascending=False)

In [195]:
movies = pd.read_csv("movies.csv")

In [196]:
movies.head(3)

In [197]:
movies.sort_values("title_x",na_position="first",ascending=False).head(3)  #na_posotion is used to see the nan positions first or last

In [198]:
# we want to sort the movies list first by year of releasee and then that to alphabetic order
movies.sort_values(["year_of_release","title_x"])

In [199]:
# we want to see movies by the lates date of release but alphabetically
movies.sort_values(["year_of_release","title_x"],ascending=[False,True])

In [200]:
batsman = pd.read_csv("batsman_runs_ipl.csv")
batsman.head()

In [201]:
# rank (for Series in pandas)
batsman["rank"]=batsman["batsman_run"].rank(ascending=False) 
# because the rank function is assigning better rank to batsman who score less we use descending
batsman.sort_values("rank")
# similar to what we studied in probability

In [202]:
# sort_index (for Series and DataFrame)
batsman.sort_index(ascending=False)

In [203]:
# Set_index(for dataframes)
batsman.set_index("batter",inplace=True)
batsman.head()

In [204]:
# reset_index
batsman.reset_index(inplace=True)
batsman.head()

##### if we use reset_index on Series it convert it into DataFrame

In [205]:
batsman.head(3)

In [206]:
# rename
batsman.rename(columns={"batsman_run":"runs"},inplace=True)
batsman.head()

In [207]:
batsman.set_index("batter",inplace=True)
batsman.head()

In [208]:
batsman.rename(index={"A Ashish Reddy":"A Reddy"},inplace=True)

In [209]:
batsman.head()

In [210]:
batsman.reset_index(inplace=True)

In [211]:
# unique 
batsman["batter"].unique() # unique also counts nan values

In [212]:
batsman["batter"].nunique() # nunique does not count nan values

In [213]:
# isnull()  (for series and DataFrame)
movies.isnull().sum()

In [214]:
# notnull() (Series + DataFrame)
movies.notnull().sum()

In [215]:
# hasnans (Series)
movies["is_adult"].hasnans 
# tells us if we have nans in any specific column

In [216]:
# we handle missing values
# dropna and fillna

##### dropna(how="any") it will drop a row if any null value is found
##### dropna(how="all") it will drop a row if all value is nul in that row
##### dropna(subset="column name")
##### dropna(subset=["col1","col2"]) this drops value if nan found in col1 or col2
##### fillna(method="fill" or "bfill") this is forward fill or back fill

In [217]:
# drop_duplicates
# is basically doing and operation

##### drop_duplicates(keep="first" or "last")

##### lets find out when was the last season where virat kohli played in delhi

In [218]:
ipl["all_cricketers"] = ipl["Team1Players"]+ipl["Team2Players"]
def did_virat_kohli_play(player_list):
    return "V Kohli" in player_list

ipl["did_virat_kohli_play"]=ipl["all_cricketers"].apply(did_virat_kohli_play)
# now we find the most recent match where he played 
ipl[(ipl["City"]=="Delhi") & (ipl["did_virat_kohli_play"]==True)].drop_duplicates(subset=["City","did_virat_kohli_play"],keep="first")#[["Season"]]

In [219]:
# drop
# it is used to drop a column or values in a column

##### drop(column="name column")
##### drop(index="index name or number")

### Group By

In [220]:
imdb = pd.read_csv("imdb-top-1000.csv")
imdb.head(3)

In [221]:
deliveries = pd.read_csv("deliveries.csv")

##### groupby is implemented on categorical values

In [222]:
genres = imdb.groupby("Genre")
genres

In [223]:
## applying builtin aggregation functions on groupby objects
genres.sum(numeric_only=True)

In [224]:
result = genres.apply(lambda x: x.loc[x['IMDB_Rating'].idxmin()],include_groups=False)
result

In [225]:
result = genres.apply(lambda x: x.loc[x['IMDB_Rating'].idxmax()],include_groups=False)
result

In [226]:
genres.mean(numeric_only=True)

In [227]:
# find the top 3 genres by total earning
imdb.groupby('Genre').sum()["Gross"].sort_values(ascending=False).head(3)

In [228]:
imdb.groupby('Genre')["Gross"].sum().sort_values(ascending=False).head(3)

In [229]:
# find the genre with highest avg imdb rating
imdb.groupby("Genre")['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

In [230]:
# find director with most popularity
imdb.groupby("Director")["No_of_Votes"].sum().sort_values(ascending=False).head(1)

In [231]:
#find the highest rated movie of each genre
index_ = imdb.groupby("Genre")["IMDB_Rating"].idxmax()
highest_rating = imdb.loc[index_]
highest_rating.sort_values(by="IMDB_Rating",ascending=False)

# we don't use the max function beacuse it select the max value from a column independently and does not give correct output 
# in order to solve this problem we use idxmax whcih returns the indices of the max imdb rating row wise for all the genres and then locate that using loc function

In [232]:
# find number of movies done by each actor
imdb.groupby("Star1")["Series_Title"].count().sort_values(ascending=False)

In [233]:
# find total number of groups 
len(imdb.groupby("Genre"))

In [234]:
# find items in each groupby
imdb.groupby("Genre").size()

In [235]:
# find the first movie in each genre
genres.first()

In [236]:
genres.last()

In [237]:
# 7th movie in each genre
genres.nth(6)

In [238]:
genres.get_group("Horror")

# similar to
# imdb[imdb["Genre"]=="Horror"]

In [239]:
genres.groups # shows a dictionary

In [240]:
genres.describe()

In [241]:
genres.sample()

In [242]:
genres.nunique()

In [243]:
genres.agg(
    {
       'Runtime':'mean',
       'IMDB_Rating':'mean',
       'No_of_Votes':'sum',
       'Gross':'sum',
       'Metascore': 'min'
    }
)

In [244]:
# Applying 'min', 'max', and 'mean' on 'Rating' and 'Votes' columns
result = genres.agg({
    'IMDB_Rating': ['min', 'max', 'mean'],
    'No_of_Votes': ['min', 'max', 'mean']
})
result

In [245]:
#find the highest rated movie of each genre
df = pd.DataFrame(columns=imdb.columns)
# looping on groups
for group, data in genres:
    df = pd.concat([df, data[data['IMDB_Rating'] == data['IMDB_Rating'].max()]])

df.sort_values(ascending=False,by="IMDB_Rating")[["Genre","IMDB_Rating","Series_Title"]]

In [246]:
# split , apply
# find no of movie in each genre which start with A 
def foo(group):
    count = group["Series_Title"].str.startswith('A').sum()
    return count

In [247]:
genres.apply(foo,include_groups=False).reset_index(name="new_index")

In [248]:
# find ranking of each movie in the group according to imdb score
def rank_movie(group):
    group["Genre_Rank"]=group["IMDB_Rating"].rank(ascending=False)
    return group

genres.apply(rank_movie,include_groups=False)

In [249]:
# normalized rating
def normal(group):
    group["Norm_rating"] = (group["IMDB_Rating"] - group["IMDB_Rating"].min())/(group["IMDB_Rating"].max() - group["IMDB_Rating"].min())
    return group

genres.apply(normal,include_groups=False)

In [250]:
duo =imdb.groupby(['Director','Star1'])
duo.size()

In [251]:
duo.get_group(('Akira Kurosawa','Toshirô Mifune'))

In [252]:
#find the actor >> director combo which ahs earned most
pd.DataFrame(duo["Gross"].sum().sort_values(ascending=False))

In [253]:
# find the best(in-terms of metascore(avg)) actor -> genre combo
combo = imdb.groupby(["Star1","Genre"])["Metascore"].mean().reset_index().sort_values(['Metascore'],ascending=False)
combo

In [254]:
duo.agg({
    "Runtime":["max","min","mean"],
    "IMDB_Rating":["max","min","mean"],
    "Gross":["max","min","mean"],
    "Metascore":["max","min","mean"]
   } )

### IPL Dataset

In [255]:
deliveries.head(3)

In [256]:
deliveries.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False).reset_index().head(10)

In [257]:
# find batsman with maximum no of sixes
six = deliveries[deliveries["batsman_runs"]==6]
six.groupby("batsman")['batsman'].count().sort_values(ascending=False).reset_index(name="sixes").head(1)

In [258]:
# find batsman with maximum no of 4 and 6's in last 5 overs
fours_and_sixes = deliveries[deliveries["over"]>=5]
fours_and_sixes = fours_and_sixes[(fours_and_sixes["batsman_runs"]==6) | (fours_and_sixes["batsman_runs"]==4)]
fours_and_sixes.groupby("batsman")["batsman"].count().sort_values(ascending=False).reset_index(name="fours_and_sixes")

In [259]:
# find V kohli's record against all teams
vkli = deliveries[deliveries["batsman"]=="V Kohli"]
vkli_stats = vkli.groupby("bowling_team").agg(
    record=('batsman_runs', 'sum'),
    fours=('batsman_runs', lambda x: (x == 4).sum()),
    sixes=('batsman_runs', lambda x: (x == 6).sum())
).reset_index()

# Sort by the total runs
vkli_stats = vkli_stats.sort_values(by="record", ascending=False).reset_index(drop=True)
vkli_stats
# drop=True: This will drop the old index and reset it to a default integer index

In [260]:
# create a function that returns highest score of any batsman
def high_score(group):
    player_name = input("enter your player name: ")
    group1 = group[group["batsman"]==player_name]
    highest_score = group1.groupby("bowling_team").agg(
        highest_score=('batsman_runs','sum')
    ).reset_index()
    return highest_score

highest_scores = high_score(deliveries)
highest_scores

### Merging , Joining and Concatenating

In [261]:
nov_reg = pd.read_csv("reg-month1.csv")
dec_reg = pd.read_csv("reg-month2.csv")
matches = pd.read_csv("matches.csv")
courses =pd.read_csv("courses.csv")
course_xl = pd.read_excel("courses.xlsx")
reg_month2_xl = pd.read_excel("reg-month2.xlsx")
student = pd.read_csv("students.csv")
student_xl = pd.read_excel("students.xlsx")

In [262]:
regs = pd.concat([nov_reg,dec_reg],ignore_index=True) # it vertically stacks ,ignore_index = True so not to have repeated index
regs

In [263]:
#Multiindex dataframe
multi = pd.concat([nov_reg,dec_reg],keys=['Nov','Dec'])
multi

In [264]:
multi.loc[("Nov",5)]

In [265]:
# horizontal stacking
pd.concat([nov_reg,dec_reg],axis=1) # it will take the larger dataset

#### Merge

In [266]:
#inner join
student.merge(dec_reg,how="inner",on='student_id')

In [267]:
courses.merge(nov_reg,how="left",on='course_id')

In [268]:
courses.merge(nov_reg,how="right",on='course_id')

In [269]:
student.merge(nov_reg,how="outer",on='student_id')

In [270]:
# 1. find total revenue generated
total = nov_reg.merge(courses,how="inner",on="course_id")['price'].sum()
total

In [271]:
# 2. find month by month revenue
temp_df = pd.concat([nov_reg,dec_reg],keys=["Nov","Dec"]).reset_index()
temp_df.merge(courses,on="course_id").groupby('level_0')['price'].sum()

In [272]:

regs = pd.concat([nov_reg,dec_reg],ignore_index=True)
regs

In [273]:
# Print Registartion table
regs.merge(student,on="student_id").merge(courses,on="course_id")[["name","course_name","price"]]

In [274]:
# plot bar chart for revenue/course
regs.merge(courses,on="course_id").groupby("course_name")["price"].sum().plot(kind="bar")

In [275]:
# find students who enrolled in both of the months
common1 = nov_reg.merge(dec_reg,on="student_id",how="inner").drop_duplicates(subset="student_id")
student.merge(common1,on="student_id",how="inner")

In [276]:
# find course that got no enrollment