# Regular Expression

import re

Regex >> Sequence of characters 

- Regular expression is used to process a text and extract a meaningfull information
  from any text data.
  
- To use regular expression, input should be in string format.

- To use regular expression, pattern is very important. If you get pattern of that attribute
  you can easily extract information from that data.

1000 pan card images

PAN CARD DATA

image_name    PAN_CARD_NUMBER      DOB           NAME     Father Name    

Pan1.jpg         ASDFG1234Q      09/05/1997     Akshay        XYZ
Pan2.jpg         ASDFG1234Q      09/05/1997     Akshay        XYZ
Pan3.jpg         ASDFG1234Q      09/05/1997     Akshay        XYZ
Pan4.jpg         ASDFG1234Q      09/03/1997     Akshay        XYZ
...
Pan100.jpg       ASDFG1234Q      20/03/1995     SAGAR         XYZ

AADHAR CARD DATA

image_name          AADHAR_CARD_NUMBER    DOB/YOB         NAME     

Aadhar1.jpg         9878 1234 4567      22/04/1990
Aadhar2.jpg         9878 1234 4567      22/04/1990
Aadhar3.jpg         9878 1234 4567      22/04/1990
Aadhar4.jpg         9878 1234 4567      22/04/1990
...
Aadhar100.jpg       9878 1234 4567      22/04/1990

Bank Statement Data

pdf_name                  Account_open_date   AC_Number  IFSC_CODE  Branch_Code  
bank_statement1.pdf
bank_statement2.pdf
bank_statement3.pdf
...
bank_statement100.pdf

In [ ]:
Pattern

# Regular Expression Functions

1. findall
2. sub
3. match
4. search
5. compile
6. split

In [1]:
import re

NLP >> Natural Language Processing

In [ ]:
Image > Text 
OCR(Optical character recognition):
    1. Pytesseract
    2. Google Vision
    3. Amazon Textract

Pytesseract:
    Image processing using openCV(import cv2)
    Skew correction
    noise removal

## Characters to find

In [ ]:
[0-9]    >> only numbers
[a-z]    >> only lowercase alphabets
[A-Z]    >> only uppercase alphabets
[a-zA-Z] >> Both uppercase and lowercase alphabets
[0145]   >> either 0 or 1 or 4 or 5
[A-Za-z0-9] >> a-z or 0-9 or .
[ ]      >> Single space
[/-]     >> / or -

In [ ]:
[0-9]{4}
[0-9]{1}  >> [0-9]

## Number of occurences

In [ ]:
{1} - 1 occurence
{5} - 5 occurences
{5,15} - between 5 to 15 occurences

# 1. findall

In [2]:
import re

- Returns a list of matches in a string
list = re.findall(pattern, text)

In [37]:
# Extract 1 occurence of number
text = """My Mobile Number is 9967590895
        my email id is : chaskarakshay9597@gmail.com
        todays date is : 11/3/2023
        """
result = re.findall('[a-z0-9]{5,20}[@][a-z.]{5,10}',text)
result

['chaskarakshay9597@gmail.com']

In [36]:
# Hello
# How are You?

"""Hell0!
How are you all?"""
a = 11
a

11

In [9]:
# Extract 5 occurences of numbers
import re
text = """My Mobile Number is 9967590895
        my email id is : chaskarakshay9597@gmail.com
        todays date is : 01/10/2022
        """
result = re.findall('[a-z]{1,15}[0-9]{4}[@][a-z]{5}[.][a-z]{3}',text)
print(result,len(result))

['chaskarakshay9597@gmail.com'] 1

In [17]:
# Extract 5 occurences of numbers
text = """My Mobile Number is 9967590895
        my email id is : chaskarakshay95987@gmail.com
        todays date is : 01/10/20225
        """
result = re.findall("[0-9]{5}",text)
print(result,len(result))

['99675', '90895', '95987', '20225'] 4

In [5]:
# Extract 4 occurences of numbers
text = """My Mobile Number is 9967590895
        my email id is : chaskarakshay9597@gmail.com
        todays date is : 10/03/2023
        """
result = re.findall('[0-9]{4}',text)
print(result,len(result))

['9967', '5908', '9597', '2023'] 4

In [168]:
# Find sequence of lowercase alphabets occuring for 2 to 20 times
text = "My Mobile Number is 9967590895"
result = re.findall('[0-9]{10}',text)
print(result)

['9967590895']

In [7]:
# Find mobile numbers from the text
text = """My Mobile Number is 9967590895
        8899776655
        998702127453
        9856448890
        856265535363
        98695634500
        """
mobile_num = re.findall('[0-9]{10}',text)
print(mobile_num,end = " ")

['9967590895', '8899776655', '9987021274', '9856448890', '8562655353', '9869563450']

In [15]:
# Find mobile numbers from the text
text = """My Mobile Number is 9967590895
        8899776655
        my email id is :chaskarakshay9597@gmail.com 
        todays date is : 01/10/2022
        """
mobile_num = re.findall('[a-z]{1,15}[0-9]{4}[@][a-z]{0,5}[.][a-z]{0,30}',text)
print(mobile_num,len(mobile_num))

['chaskarakshay9597@gmail.com'] 1

In [23]:
for i in range(1,10):
    print(i,end = " ")

1 2 3 4 5 6 7 8 9

In [48]:
# Find sequence of lowercase alphabets occuring for 4 times
text = """My Mobile Number is 9967590895
        8899776655
        my email id is : chaskar.akshay9597@gmail.com
        hello how are you?
        todays date is : 01/10/2022
        """
result = re.findall('[a-z]{0,10}[.]{1}[a-z0-9]{0,10}',text)
print(result,len(result))
#[a-z0-9]{0,30}[@]{1}[a-z.]{2,10}

['chaskar.akshay9597', 'gmail.com'] 2

In [9]:
# Find sequence of any alphabets(lowercase or uppercase) occuring for 4 times
import re
text = """My Mobile Number is 9876223344
        8899776655
        Happy Diwali..
        my email id is : chaskarakshay9597gmail@.com
        todays date is : 01/10/2022
        """
result = re.findall('[A-z a-z0-9]{0,25}[@.]',text)
print(result,len(result))

['My Mobile Number is ', '        ', '        Happy Diwali.', '.', '        my email id is ', ' chaskarakshay9597gmail@', '.', '        todays date is ', ' ', '        '] 10

In [181]:
# Find sequence of any alphabets(lowercase or uppercase) occuring for 4 times
text = """My Mobile Number is 9987021274
        8899776655
        my email id is : datascience2022@gmail.com
        todays date is : 01/10/2022
        """
result = re.findall('[a-z0-9]{2,30}[@]{1}[a-z.]{2,10}',text)
print(result,len(result))

['datascience2022@gmail.com'] 1

In [186]:
# Extract 4 occurence of number 9 or 8
text = """My Mobile Number is 988965772200
        8899776655
        my email id is : machinelearning5256@gmail.com
        todays date is : 01/10/2022
        """
result = re.findall('[98]{2}',text)
print(result,len(result))

['98', '89', '88', '99'] 4

In [188]:
# Extract 4 occurence of number 7 and 6
text = """My Mobile Number is 9876223344
        8899778655
        my email id is : happylearning6767@gmail.com
        todays date is : 01/10/2022
        """
result = re.findall('[762]{2}',text)
print(result,len(result))

['76', '22', '77', '67', '67', '22'] 6

In [38]:
result = re.findall('[a-z 0-9]{1,20}[@][a-z]{1,5}[.][a-z]{1,3}',text)
print(result,len(result))

[' chaskarakshay9597@gmail.com'] 1

In [41]:
r = re.findall('[a-z0-9]{5,25}[@][a-z.]{5,10}',text)
print(r,len(str(r)))

SyntaxError: invalid syntax (580596732.py, line 2)

In [46]:
text = """My Mobile Number is 9876223344
        8899778655
        my email id is : happylearning6767@gmail.com
        todays date is : 01/10/2022
        """
result = re.findall('[a-z 0-9]{1,20}[@][a-z]{1,5}[.][a-z]{1,3}',text)
print(result,len(result))

[' happylearning6767@gmail.com'] 1

In [49]:
# Extract 2 occurence of number 0 or 1 or 4 or 5
text = """My Mobile Number is 987622773344
        889922776655
        my email id is : happylearning6767@gmail.com
        todays date is : 01/10/2022
        """
result = re.findall('[27]{4}',text)
print(result,len(result))

['2277', '2277'] 2

In [59]:
# Extract emailid from the text
text = """My Mobile Number is 9876223344
        8899776655
        my email id is : chaskarakshay9597@gmail...com.
        todays date is : 01/10/2022
        """
result = re.findall('[a-z0-9]{2,30}[@]{1}[a-z.]{1,15}',text)
print(result,len(result))

['chaskarakshay9597@gmail...com.'] 1

In [58]:
# Extract emailid from the text
text = """
        my email id is : virat kohli@etlhive.com
        viratkohli123@gmail.com
        virat_kohli123@gmail.com
        virat$kohli123@gmail.com
        virat.kohli@gmail.com
        virat_kohli_123@gmail.com
        virat_kohli_123@etlhive.co.in
        virat_kohli_123@coep.edu.in
        hr@capgemini.com
        """
#result = re.findall ('[A-z0-9 _.$@]{0,50}[a-z.]{5,15}', text)
#print (result)
#print(result,len(result))
#result = re.findall('[a-z0-9_.$ ]{2,30}[@]{1}[a-z.]{2,15}',text)
result = re.findall('[a-z0-9_.$@]{1,15}[@][a-z.]{1,15}',text)

print (result)

['kohli@etlhive.com', 'viratkohli123@gmail.com', 'virat_kohli123@gmail.com', 'virat$kohli123@gmail.com', 'virat.kohli@gmail.com', 'virat_kohli_123@gmail.com', 'virat_kohli_123@etlhive.co.in', 'virat_kohli_123@coep.edu.in', 'hr@capgemini.com']

In [21]:
# Extract emailid from the text
text = """
        my email id is : viratkohli@etlhive.com
        viratkohli123@gmail.com
        virat_kohli123@gmail.com
        virat.kohli123@gmail.com
        virat.kohli@gmail.com
        virat_kohli_123@gmail.com
        virat_kohli_123@etlhive.co.in
        virat_kohli_123@coep.edu.in
        virat_kohli_123@coep.edu.in

        hr123@capgemini.com
        """
result = re.findall('[a-z0-9_.]{5,30}[@][a-z.]{0,15}',text)
print(result,len(result))

['viratkohli@etlhive.com', 'viratkohli123@gmail.com', 'virat_kohli123@gmail.com', 'virat.kohli123@gmail.com', 'virat.kohli@gmail.com', 'virat_kohli_123@gmail.com', 'virat_kohli_123@etlhive.co.in', 'virat_kohli_123@coep.edu.in', 'virat_kohli_123@coep.edu.in', 'hr123@capgemini.com'] 10

In [22]:
# Extract valid aadhar number from text
text = """
        1234 245 0987   # invalid     
        1234 2345 0987    # Valid
        1234 2345 0987
        1234 245 0987    # Valid 
        1234 2345 0875686     # Invalid

        """
result = re.findall('[0-9]{4}[ ]{1}[0-9]{3}[ ]{1}[0-9]{4}',text)
print(result,len(result))

['1234 245 0987', '1234 245 0987'] 2

In [61]:
# Extract valid aadhar number from text
text = """
        1234 245 0987    
        1234 2345 0987     
        4567 2345 0987123     
        1234 2345 087    
        """
result = re.findall('[0-9]{4}[ ][0-9]{3,5}[ ][0-9]{3,7}',text)
print(result,len(result))

['1234 245 0987', '1234 2345 0987', '4567 2345 0987123', '1234 2345 087'] 4

In [23]:
# Extract valid pancard number from text
text = """
        ASDFG0987P    
        RTYWUI6789W       
        POIUDY1346T       
        """
result = re.findall('[A-Z]{0,10}[0-9]{0,5}[A-Z]',text)
print(result,len(result))

['ASDFG0987P', 'RTYWUI6789W', 'POIUDY1346T'] 3

In [65]:
text = """1234 5678 0987
1234 6548 0987
1234 5678 9867
5643 5678 0987
"""
result = re.findall('[0-9 ]{1,5}',text)
print(result,len(result))

['1234 ', '5678 ', '0987', '1234 ', '6548 ', '0987', '1234 ', '5678 ', '9867', '5643 ', '5678 ', '0987'] 12

In [28]:
# Extract valid dates from text
text = """
        ASDFG0987P      
        RTYUI67890      
        POIUY1346T       
        
        Dates :
        01/03/2022
        28/02/2022
        01/01/2022
        20-08-2021
        
        """
result = re.findall('[0-9]{2}[/-][0-9]{2}[/-][0-9]{4}',text)
print(result,len(result))

['01/03/2022', '28/02/2022', '01/01/2022', '20-08-2021'] 4

In [26]:
# Extract valid dates from text
text = """
        ASDFG0987P       
        RTYUI67890      
        POIUY1346T       
        
        Dates :
        01/03/2022
        28/02/2022
        08/02/2022
        01/01/2022
        40-08-2021 
        """
result = re.findall('[0-9]{2}[/-][0-9]{2}[/-][0-9]{4}',text)
print(result,len(result))

['01/03/2022', '28/02/2022', '08/02/2022', '01/01/2022', '40-08-2021'] 5

# Special sequences

# 1. \d

In [ ]:
\d >> [0-9] # (back slash small d)

In [195]:
# Find valid pancard numbers
text = """ QWERT5678P
            QWEYU9876L"""
result = re.findall('[A-Z]{5}[0-9]{4}[A-Z]',text)
print(result,len(result))

['QWERT5678P', 'QWEYU9876L'] 2

In [75]:
# Find valid pancard numbers
text = """ QWERT5678P
            QWEYU9876L"""
result = re.findall('[A-Z]{5}\d{4}[A-Z]{1}',text)
print(result,len(result))

['QWERT5678P', 'QWEYU9876L'] 2

In [198]:
# Find valid pancard numbers
text = """ Bank IFSC Code is :
            HDFC0009873
            9899887766
            989988445533
            ASDFG5678P
            RTYQWERT4567POIUY"""

result = re.findall('[A-Z]{2,10}\d{2,10}',text)
print(result,len(result))

['HDFC0009873', 'ASDFG5678', 'RTYQWERT4567'] 3

In [34]:
# Find valid aadhar card and pancard numbers
text = """ QWERT5678P
            QWEYU9876L
            3456 9876 2345"""
pancard = re.findall('[A-Z]{5}\d{4}[A-Z]',text)
print(pancard,len(pancard))

Aadharcard = re.findall('\d{4}[ ]\d{4}[ ]\d{4}',text)
print(Aadharcard,len(Aadharcard))

['QWERT5678P', 'QWEYU9876L'] 2
['3456 9876 2345'] 1

In [36]:
# Find valid mobile numbers
text = """ Bank IFSC Code is :
            HDFC0009873
            9899887766
            989988445533
            ASDFG5678P
            QWERT4567POIUY"""
result = re.findall('\d{10}',text)
print(result,len(result))

['9899887766', '9899884455'] 2

# 2. \D

In [ ]:
\D >> except [0-9] >> [^0-9]

In [200]:
# Find 1 occurence of sequence having \D
text = """QWERT 5678P @#$%^QWEYU9876L 3456 9876 2345"""
result = re.findall('\D{1}',text)
print(result,len(result))

['Q', 'W', 'E', 'R', 'T', ' ', 'P', ' ', '@', '#', '$', '%', '^', 'Q', 'W', 'E', 'Y', 'U', 'L', ' ', ' ', ' '] 22

In [40]:
# Find 1 occurence of sequence having \D
text = """QWERT5678P QWEYU9876L 3456 9876 2345"""
result = re.findall('[^0-9]',text)
print(result,len(result))

['Q', 'W', 'E', 'R', 'T', 'P', ' ', 'Q', 'W', 'E', 'Y', 'U', 'L', ' ', ' ', ' '] 16

In [41]:
# Find 10 occurences of sequence having \D
text = """Data science is an interdisciplinary field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, 
structured and unstructured data, and apply knowledge and actionable insights from 
data across a broad range of application domains 
QWERT5678P
            QWEYU9876L
            3456 9876 2345"""
result = re.findall('\D{10}',text)
print(result,len(result))

['Data scien', 'ce is an i', 'nterdiscip', 'linary fie', 'ld that us', 'es scienti', 'fic method', 's, \nproces', 'ses, algor', 'ithms and ', 'systems to', ' extract k', 'nowledge a', 'nd insight', 's from noi', 'sy, \nstruc', 'tured and ', 'unstructur', 'ed data, a', 'nd apply k', 'nowledge a', 'nd actiona', 'ble insigh', 'ts from \nd', 'ata across', ' a broad r', 'ange of ap', 'plication ', 'domains \nQ', 'P\n        ', 'L\n        '] 31

# 3. \s

In [ ]:
\s >> [ ] >>

In [203]:
# Find valid aadhar number (use [ ])
text = """ QWERT5678P
            QWEYU9876L
            3456 9876 2345"""
result = re.findall('\s{2,20}',text)
print(result)

['\n            ', '\n            ']

In [84]:
# Find valid aadhar number (use [ ])
text = """ QWERT5678P
            QWEYU9876L
            3456 9876 2345"""
result = re.findall('\d{4}\s{1}\d{4}\s{1}\d{4}',text)
print(result)

['3456 9876 2345']

In [44]:
# Find valid aadhar number (use  )
text = """ QWERT5678P
            QWEYU9876L
            3456 9876 2345"""
result = re.findall('\d{4} \d{4} \d{4}',text)
print(result)

['3456 9876 2345']

In [43]:
# Find valid aadhar number (use \s)
text = """ QWERT5678P
            QWEYU9876L
            3456 9876 2345"""
result = re.findall('\d{4}\s\d{4}\s\d{4}',text)
print(result)

['3456 9876 2345']

# 4. \S

In [ ]:
\S >> Except space >> [^ ]

In [206]:
# Find 1 occurence of everything except space 
text = """ QWERT5678P QWEYU9876L 3@#$A$456 9876 2345"""
result = re.findall('\S',text)
print(result)

['Q', 'W', 'E', 'R', 'T', '5', '6', '7', '8', 'P', 'Q', 'W', 'E', 'Y', 'U', '9', '8', '7', '6', 'L', '3', '@', '#', '$', 'A', '$', '4', '5', '6', '9', '8', '7', '6', '2', '3', '4', '5']

# 5. \w

In [ ]:
\w >> [a-zA-Z0-9]

In [2]:
import re
# Find \w sequence for 5 occurence
text = """Data science is an interdisciplinary field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, 
structured and unstructured data, and apply knowledge and actionable insights from 
data across a broad range of application domains 

ASDFGHJKLR
QWERT5678P  
9988776655
1234467789
QWEYU9876L
3456 9876 2345"""

result = re.findall('\w{0,12}',text)
print(result)

['Data', '', 'science', '', 'is', '', 'an', '', 'interdiscipl', 'inary', '', 'field', '', 'that', '', 'uses', '', 'scientific', '', 'methods', '', '', '', 'processes', '', '', 'algorithms', '', 'and', '', 'systems', '', 'to', '', 'extract', '', 'knowledge', '', 'and', '', 'insights', '', 'from', '', 'noisy', '', '', '', 'structured', '', 'and', '', 'unstructured', '', 'data', '', '', 'and', '', 'apply', '', 'knowledge', '', 'and', '', 'actionable', '', 'insights', '', 'from', '', '', 'data', '', 'across', '', 'a', '', 'broad', '', 'range', '', 'of', '', 'application', '', 'domains', '', '', '', 'ASDFGHJKLR', '', 'QWERT5678P', '', '', '', '9988776655', '', '1234467789', '', 'QWEYU9876L', '', '3456', '', '9876', '', '2345', '']

In [210]:
# Find \w sequence for 10 occurence
text = """Data science is an interdisciplinary field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, 
structured and unstructured data, and apply knowledge and actionable insights from 
data across a broad range of application domains 

ASDFGHJKLR
QWERT5678P  
9988776655
1234467789
QWEYU9876L
3456 9876 2345"""


result = re.findall('\w{7}',text)
print(result)

['science', 'interdi', 'sciplin', 'scienti', 'methods', 'process', 'algorit', 'systems', 'extract', 'knowled', 'insight', 'structu', 'unstruc', 'knowled', 'actiona', 'insight', 'applica', 'domains', 'ASDFGHJ', 'QWERT56', '9988776', '1234467', 'QWEYU98']

# 6. \W

In [ ]:
\W >> Except [a-zA-Z0-9] >> [^a-zA-Z0-9]

In [51]:
# Find \W sequence for 1 occurence
text = """Data science is an Interdisciplinary field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, 
structured and unstructured data, and apply knowledge and actionable insights from 
data across a broad range of application domains 

@#$%^&*
ASDFGHJKLR
QWERT5678P  
9988776655
1234467789
QWEYU9876L
3456 9876 2345"""

result = re.findall('\W',text)
print(result)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ',', ' ', '\n', ',', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ',', ' ', '\n', ' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', '\n', '@', '#', '$', '%', '^', '&', '*', '\n', '\n', ' ', ' ', '\n', '\n', '\n', '\n', ' ', ' ']

In [53]:
# Find \W sequence for 5 occurence
text = """Data science is an Interdisciplinary field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, 
structured and unstructured data, and apply knowledge and actionable insights from 
data across a broad range of application domains 

@#$%^&*
ASDFGHJKLR
QWERT5678P  
9988776655
1234467789
QWEYU9876L
3456 9876 2345"""


result = re.findall('\W{5}',text)
print(result)

[' \n\n@#', '$%^&*']

In [54]:
# Find \W sequence for 1 occurence (use [^a-zA-Z0-9])
text = """Data science is an Interdisciplinary field that uses scientific methods, 
processes, algorithms and systems to extract knowledge and insights from noisy, 
structured and unstructured data, and apply knowledge and actionable insights from 
data across a broad range of application domains 

@#$%^&*
ASDFGHJKLR
QWERT5678P  
9988776655
1234467789
QWEYU9876L
      
3456 9876 2345           """

result = re.findall('[^a-zA-Z0-9]',text)
print(result)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ',', ' ', '\n', ',', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ',', ' ', '\n', ' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '\n', '\n', '@', '#', '$', '%', '^', '&', '*', '\n', '\n', ' ', ' ', '\n', '\n', '\n', '\n', ' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

# 7.\b

- It will check for characters at the begining of word or end of word
- **Use raw string(r) when using \b**

In [218]:
# Find valid pancard numbers   (use \b at starting)
text = """ Bank IFSC Code is :
            HDFC0009873
            9899887766
            989988445533
            
            ASDFG5678P
            
            BFDFG5566PQWERTYUI
            
            RTYQWERT4567POIUY"""

result = re.findall(r'\b[A-Z]{5}[0-9]{4}[A-Z]\b',text)
print(result)

['ASDFG5678P']

In [132]:
# Find valid pancard numbers   (use \b at starting)
text = """ Bank IFSC Code is :
            HDFC0009873
            9899887766
            989988445533
            
            ASDFG5678P
            
            BFDFG5566PQWERTYUI
            
            RTYQWERT4567POIUY"""

result = re.findall(r'\b[A-Z{10}\b',text)
print(result)

['9899887766', 'ASDFG5678P']

In [89]:
# Find valid pancard numbers   (use \b at starting and ending)
text = """ Bank IFSC Code is :
            HDFC0009873W
            9899887766W
            989988445533W
            
            ASDFG5678P
            
            BFDFG5566PQWERTYUI
            
            RTYQWERT4567POIUY"""
result = re.findall(r'\b[A-Z]{5}\d{4}[A-Z]\b',text)
print(result)

['ASDFG5678P']

In [61]:
# Find valid mobile numbers
text = """ Bank IFSC Code is :
            HDFC0009873
            9899887766
            989988445533
            
            ASDFG5678P
            
            BFDFG5566PQWERTYUI
            
            RTYQWERT4567POIUY"""
result = re.findall(r'\b\d{10}\b',text)
print(result)

['9899887766']

In [154]:
# Find valid ISFC code    (dont use /b)
text = """ Bank IFSC Code is :
            HDFC0009873
            HDFC0034098733456789
            9899887766
            989988445533
            
            ASDFG5678P
            
            BFDFG5566PQWERTYUI
            
            RTYQWERT4567POIUY"""
result = re.findall(r'[A-Z]{5}[0-9]{4}[A-Z]\b',text)
print(result)

['ASDFG5678P']

In [64]:
# Find valid ISFC code   (use /b)
text = """ Bank IFSC Code is :
            HDFC0009873
            HDFC0034098733456789
            9899887766
            989988445533
            
            ASDFG5678P
            
            BFDFG5566PQWERTYUI
            
            RTYQWERT4567POIUY"""
result = re.findall(r'\b[A-Z]{4}\d{7}\b',text)
print(result)

['HDFC0009873']

# OCR

In [7]:
pip install pytesseract

Requirement already satisfied: pytesseract in c:\users\sushilchikane\anaconda3\lib\site-packages (0.3.8)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: Pillow in c:\users\sushilchikane\anaconda3\lib\site-packages (from pytesseract) (8.4.0)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
pip install tesseract

Requirement already satisfied: tesseract in c:\users\sushilchikane\anaconda3\lib\site-packages (0.1.3)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pytesseract

In [3]:
# path
path = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
path

'C:\\Program Files\\Tesseract-OCR\\tesseract.exe'

In [5]:
pytesseract.pytesseract.tesseract_cmd = path
result = pytesseract.image_to_string('pan2.jpeg')
print(result)

INCOME TAX DEPARTMENT GOVT. OF Uhl
MONIKA MAHADEV SHINDE
MAHADEV SHINDE
31/10/1992

Permanent Account Number

EJAPS0276M *
MonuIkA 74 <sHINDE

In [4]:
pytesseract.pytesseract.tesseract_cmd = path
result = pytesseract.image_to_string('Capture.JPG')
print(result)
result.to_txt('1.txt')

26 DE ENERO 2022
APELACION

PARA. OPTIMUN HEALTH CARE, INC

P.0.BOX 152772

.

DE ‘MICKEY DONALD

MEMBER NUMBER-T123456

123 MAINST. PORT RICHEY, FL. 34668

CELULAR. 410-123-1236

PRESENTO ESTA APELACION. RECIBI CARTA CON FECHA DE ENERO 4 DEL 2022 DONDE
‘SE ME INFORMA QUE DOS SERVICIOS RECIBIDOS E. 08/27/2021 CON CODIGO 92004
NO SERAN CUBIERTOS POR MI PLAN DE SALUD OPTIMUM.

LOS SERVICIOS RECBIDOS POR PERICH EYE CENTER EN SEVEN SPRINGS BOULEVARD,
NEW PORT RICHEY FL. CON EL NUMERO DEL TELEFONO 727-372-1311 ESTAN EN SU
DIRECTORIO DE PROVEEDORES, CUANDO LLAME ME INDICARON QUE ACEPTABAN EL.
PLAN MEDICO, POR LO QUE TOME ESTA OPCION PARA RECIBIR EL SERVICIO DEL
‘CUIDADO DE MIS OJOS.

AttributeError: 'str' object has no attribute 'to_txt'

In [133]:
# Extract valid pancard number from data
pancard_no = re.findall(r'\b[A-Z]{5}\d{4}[A-Z]\b',result)
print(pancard_no[0])

EJAPS0276M

In [134]:
# Extract valid DOB from data
DOB = re.findall(r'\b\d{2}[/]\d{2}[/]\d{4}\b',result)
print(DOB[0])

31/10/1992

In [135]:
import os 
folder_path = 'pan_card_data'
file_names_list = os.listdir(folder_path)
for image_name in file_names_list:
    print("image_name ::",image_name)
    image_name = os.path.join(folder_path,image_name)
    pan_data = pytesseract.image_to_string(image_name)
    dob = re.findall('\d{2}[/]\d{2}[/]\d{4}',pan_data)
    if dob:
        print("Date of birth is :",dob[0])

    pan_num = re.findall('[A-Z]{5}\d{4}[A-Z]',pan_data)
    if pan_num:
        print("Pan car number is :",pan_num[0])
    print("*"*60)

image_name :: pan2.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan3.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan4.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan5.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan6.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan7.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan8.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pancard1.jpg
Date of birth is : 16/07/1986
Pan car number is : BNZPM2501F
************************************************************

In [144]:
import os 
import pandas as pd
folder_path = 'pan_card_data'

file_names_list = os.listdir(folder_path)
# print(file_names_list)

image_names_list = []
dob_list = []
pan_num_list = []
for image_name in file_names_list:
    print("image_name ::",image_name)
    image_names_list.append(image_name)
    image_name = os.path.join(folder_path,image_name)
    print(image_name)
    pan_data = pytesseract.image_to_string(image_name)
    dob = re.findall('\d{2}[/]\d{2}[/]\d{4}',pan_data)
    if dob:
        print("Date of birth is :",dob[0])
        dob_list.append(dob[0])

    else:
        dob_list.append('')
        
    pan_num = re.findall('[A-Z]{5}\d{4}[A-Z]',pan_data)
    if pan_num:
        print("Pan car number is :",pan_num[0])
        pan_num_list.append(pan_num[0])
    else:
        pan_num_list.append('')
    print("*"*60)
    
result = {"Image Name":image_names_list,
                  "Date of Birth":dob_list,
                  "PAN Card Number": pan_num_list}


df = pd.DataFrame(result)
df.to_csv("PAN_Result.csv")

image_name :: pan2.jpeg
pan_card_data\pan2.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan3.jpeg
pan_card_data\pan3.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan4.jpeg
pan_card_data\pan4.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan5.jpeg
pan_card_data\pan5.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan6.jpeg
pan_card_data\pan6.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan7.jpeg
pan_card_data\pan7.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pan8.jpeg
pan_card_data\pan8.jpeg
Date of birth is : 31/10/1992
Pan car number is : EJAPS0276M
************************************************************
image_name :: pancard1.jpg
pan_card_data\pancard1.jpg
Date of birth is : 16/07/1986
Pan car number is : BNZPM2501F
************************************************************